.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.disp {
  margin: 20px;
  display: table-cell;
  height: 400px;
}

.row {
  width: 90%;
  margin: 20px;
  display: table;
}

.disp img {
  height: 300px
}

paintContainer {
  display: flex;
  flex-flow: row wrap;
}

mat-card {
  width: 350px;
  margin: 10px;
  height: 420px;
  /* cursor: pointer; */
}

mat-card-content {
    width: 300px;
    height: 120px;
}