<div id="footer">
  <mat-toolbar style="height: 25px;">
    <p style="font-size: 12px"> &copy; Vibgyor paints - All Rights reserved</p>
  </mat-toolbar>
</div>

<!-- <footer class="page-footer font-small blue pt-4 mt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">About Company</h5>
        <p>Vibgyor Paints India Limited is the third largest paint manufacturing company in the country. We manufacture paint
          for both interior and exterior use. We have earned a reputation for innovation with new products such as exterior
          paints designed to reflect heat, anti-bacterial, water resistant paint etc.</p>
      </div>
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-facebook-official" style="font-size:24px;color:lightblue; cursor: pointer; "></i> &nbsp;
            <i class="fa fa-google-plus" style="font-size:24px;color: lightcoral; cursor: pointer;"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">&copy; Vibgyor paints - All Rights reserved
  </div>
</footer> -->
