<mat-card>
    <img mat-card-image src="/assets/vibgyor.jpg" style="height: 40%; width: 40%; margin-left: auto; margin-right: auto; display: block;"> <br> <br>
  <mat-card-content style="font-size: 15px;">
    Vibgyor Paints India Limited is the third largest paint manufacturing company in the country. We manufacture paint for
    both interior and exterior use. We have earned a reputation for innovation with new products such as exterior paints
    designed to reflect heat, anti-bacterial, water resistant paint etc. Vibgyor Paints has a consistent track record of
    being one of the fastest growing paint companies, quarter-on-quarter, for the past three years. From an annual sales
    turnover of Rs 25 Lakhs, 3 years ago, their business revenues are in excess of Rs 2000 crores today.
  </mat-card-content>
</mat-card>
