<div id="card-container">
  <mat-card>
    <mat-card-title>Head office Address:</mat-card-title>
    <mat-card-content>Vibgyor Paints Limited, Vibgyor Paints House 6A, Shantinagar, Santacruz (E), Bangalore - 400 055, India. Tel: 022 - 6218
      1222 Fax: 022 - 6218 1111
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vibgyor Paints Helpline</mat-card-title>
    <mat-card-content>1800 - 209 - 5678
      <br>
      <b>*Toll Free Service, applicable in India only. </b>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Corporate Identification Number (CIN): L74110MH1945PLC00246</mat-card-title>
  </mat-card>
</div>
