<!-- <div class="row" *ngIf="catalogs">
  <div class="disp" *ngFor="let catalog of catalogs">
    <mat-card [@flyInOut]="in" (click)="catalogDetails(catalog)">
      <img [src]="catalog.catalogImageUrl">
      <mat-card-title style="font-size: 17px; color: orchid">{{catalog.catalogName}}</mat-card-title>
    </mat-card>
  </div>
</div> -->



<div class="container" *ngIf="catalogs" [@flyInOut]="in">
  <div fxLayout="row wrap">
    <div class="card" style="width: 45%; margin: 15px;" *ngFor="let catalog of catalogs">
      <img class="card-img-top" height="300" width="300" [src]="catalog.catalogImageUrl">
      <div class="card-body" style="height: 150px;">
        <h5 class="card-title">{{catalog.catalogName}}</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <a (click)="catalogDetails(catalog)" class="btn btn-primary">Explore</a>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" *ngIf="catalogs"> -->
<!-- <div class="disp" *ngFor="let catalog of catalogs" [@flyInOut]="in">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="catalog.catalogImageUrl">
    <div class="card-body">
      <h5 class="card-title">{{catalog.catalogName}}</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <!-- <a (click)="catalogDetails(catalog)" class="btn btn-primary">Explore</a> -->
      <!-- </div> -->
    <!-- </div>
  </div>
</div>  -->
